div.container {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    align-content: space-evenly;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    margin: 1px;
    padding: 40px;
}